@page
@model FrontEnd.Pages.Data.Fabric.Brand.DeleteModel

@{
    ViewData["Title"] = "Delete this Fabric Brand";
}

<partial name="_PageTitle" />

@{
    var deleteFailureMessage = TempData["DeleteFailureMessage"] as string;
}

@if (!string.IsNullOrEmpty(deleteFailureMessage))
{
    <div class="alert alert-danger">
        @deleteFailureMessage
    </div>
}

<div class="container mt-4">
    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Brand Name</dt>
                <dd class="col-sm-9">@Model.Item.FullName</dd>

                <dt class="col-sm-3">Website</dt>
                <dd class="col-sm-9">@Model.Item.Website</dd>

                <dt class="col-sm-3">Additional Info</dt>
                <dd class="col-sm-9">@Model.Item.AdditionalInfo</dd>

            </dl>
        </div>
    </div>
    <partial name="Delete/_DeleteConfirmForm" model="Model.Item" />
</div>
