@page
@model FrontEnd.Pages.Data.Fabric.Brand.DetailsModel

@{
	ViewData["Title"] = "Fabric Brand Details";
}

<partial name="_PageTitle" />
<div class="container mt-4">
	<div class="card mt-4">
		<div class="card-body">
			<dl class="row">
				<dt class="col-sm-3">Brand Name</dt>
				<dd class="col-sm-9">@Model.Item.FullName</dd>

				@if (Model.Item.Website != null)
				{
					<dt class="col-sm-3">Website</dt>
					<dd class="col-sm-9">@Model.Item.Website</dd>
				}
				@if (Model.Item.AdditionalInfo != null)
				{
					<dt class="col-sm-3">Additional Info</dt>
					<dd class="col-sm-9">@Model.Item.AdditionalInfo</dd>
				}
			</dl>
		</div>
	</div>
	<partial name="Details/_ToEditBackButtons" />
</div>
