@page
@model FrontEnd.Pages.Data.Elastic.Elastic.DeleteModel

@{
    ViewData["Title"] = "Delete this Elastic";
}

<partial name="_PageTitle" />

<div class="container mt-4">
    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-3">Elastic Type</dt>
                <dd class="col-sm-9">@Model.Item.ElasticType.Type</dd>

                <dt class="col-sm-3">Color</dt>
                <dd class="col-sm-9">@Model.Item.Color</dd>

                <dt class="col-sm-3">Width</dt>
                <dd class="col-sm-9">@Model.Item.Width"</dd>

                <dt class="col-sm-3">Length</dt>
                <dd class="col-sm-9">@Model.Item.Length Yards</dd>

            </dl>
        </div>
    </div>
    <partial name="Delete/_DeleteConfirmForm" model="Model.Item" />
</div>
