@page
@model FrontEnd.Pages.Data.Fabric.Type.DetailsModel

@{
	ViewData["Title"] = "Fabric Type Details";
}

<partial name="_PageTitle" />
<div class="container mt-4">
	<div class="card mt-4">
		<div class="card-body">
			<dl class="row">
				<dt class="col-sm-3">Type</dt>
				<dd class="col-sm-9">@Model.Item.Type</dd>

				@if (Model.Item.Content != null)
				{
					<dt class="col-sm-3">Content</dt>
					<dd class="col-sm-9">@Model.Item.Content</dd>
				}
			</dl>
		</div>
	</div>
	<partial name="Details/_ToEditBackButtons" />
</div>
