@page
@model FrontEnd.Pages.Data.Fabric.Fabric.CreateModel

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fabric</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
					<label asp-for="Item.FabricTypeID" class="control-label required-label">Fabric Type</label>
					<select asp-for="Item.FabricTypeID" class="form-control form-select" required>
						<option value=""></option>
						@foreach (var fabricType in Model.FabricTypes)
						{
							<option value="@fabricType.ID">@fabricType.Type</option>
						}
					</select>
					<span asp-validation-for="Item.FabricType.ID" class="text-danger"></span>
				@if (Model.FabricTypes.Count == 0)
				{
					<p class="text-danger m-lg-2">You haven't created any Fabric Types yet. Click <a asp-page="../Type/Create">here</a> to create one.</p>
				}
			</div>
			<div class="form-group">
				<label asp-for="Item.FabricBrandID" class="control-label required-label">Fabric Brand</label>
				<select asp-for="Item.FabricBrandID" class="form-control form-select" required>
					<option value=""></option>
					@foreach (var fabricBrand in Model.FabricBrands)
					{
						<option value="@fabricBrand.ID">@fabricBrand.FullName</option>
					}
				</select>
					<span asp-validation-for="Item.FabricBrand.ID" class="text-danger"></span>
				@if(Model.FabricBrands.Count == 0)
				{
					<p class="text-danger m-lg-2">You haven't created any Fabric Brands yet. Click <a asp-page="../Brand/Create">here</a> to create one.</p>
				}
			</div>
			<div class="form-group">
				<label asp-for="Item.PurchasePrice" class="control-label required-label">Purchase Price</label>
				<input asp-for="Item.PurchasePrice" class="form-control" type="number" min="0.01" max="9999.99" required/>
				<span asp-validation-for="Item.PurchasePrice" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Item.Value" class="control-label required-label">Dollar Value</label>
				<input asp-for="Item.Value" class="form-control" type="number" min="0.01" max="9999.99" required />
				<span asp-validation-for="Item.Value" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Item.Appearance" class="control-label required-label"></label>
				<input asp-for="Item.Appearance" class="form-control" maxlength="50" />
				<span asp-validation-for="Item.Appearance" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Item.SolidOrPrint" />Is a Print
				</label>
			</div>
			<div class="form-group">
				<label asp-for="Item.Amount" class="control-label required-label">Amount in Yards</label>
				<input asp-for="Item.Amount" class="form-control" type="number" min="0.01" max="9999.99" />
				<span asp-validation-for="Item.Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
