@page
@model FrontEnd.Pages.Data.Fabric.Fabric.EditModel

@{
	ViewData["Title"] = "Edit a Fabric";
}

<partial name="_PageTitle" />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Item.ID" />
			<div class="form-group mt-2">
				<label asp-for="Item.Appearance" class="control-label required-label"></label>
				<input asp-for="Item.Appearance" class="form-control" maxlength="50" autofocus />
				<span asp-validation-for="Item.Appearance" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<label asp-for="Item.FabricTypeID" class="control-label required-label">Fabric Type</label>
				<select asp-for="Item.FabricTypeID" class="form-control form-select" required>
					<option value=""></option>
					@foreach (var fabricType in Model.FabricTypes)
					{
						<option value="@fabricType.ID">@fabricType.Type</option>
					}
				</select>
				<span asp-validation-for="Item.FabricTypeID" class="text-danger"></span>
				@if (Model.FabricTypes.Count == 0)
				{
					<p class="text-danger m-lg-2">You haven't created any Fabric Types yet. Click <a asp-page="../Type/Create">here</a> to create one.</p>
				}
			</div>
			<div class="form-group mt-2">
				<label asp-for="Item.FabricBrandID" class="control-label required-label">Fabric Brand</label>
				<select asp-for="Item.FabricBrandID" class="form-control form-select" required>
					<option value=""></option>
					@foreach (var fabricBrand in Model.FabricBrands)
					{
						<option value="@fabricBrand.ID">@fabricBrand.FullName</option>
					}
				</select>
				<span asp-validation-for="Item.FabricBrandID" class="text-danger"></span>
				@if (Model.FabricBrands.Count == 0)
				{
					<p class="text-danger m-lg-2">You haven't created any Fabric Brands yet. Click <a asp-page="../Brand/Create">here</a> to create one.</p>
				}
			</div>
			<div class="form-group mt-2">
				<label asp-for="Item.PurchasePrice" class="control-label required-label">Purchase Price</label>
				<input asp-for="Item.PurchasePrice" class="form-control" type="number" step="0.01" min="0.01" max="9999.99" required />
				<span asp-validation-for="Item.PurchasePrice" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<label asp-for="Item.Value" class="control-label required-label">Dollar Value</label>
				<input asp-for="Item.Value" class="form-control" type="number" step="0.01" min="0.01" max="9999.99" required />
				<span asp-validation-for="Item.Value" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<label asp-for="Item.Amount" class="control-label required-label">Amount in Yards</label>
				<input asp-for="Item.Amount" class="form-control" type="number" step="0.01" min="0.01" max="9999.99" />
				<span asp-validation-for="Item.Amount" class="text-danger"></span>
			</div>
			<div class="form-group mt-2 form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Item.SolidOrPrint" />Is a Print
				</label>
			</div>
			<partial name="Edit/_EditBackButtons" model="Model.Item" />
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
