@page
@model FrontEnd.Pages.Data.Thread.Thread.DeleteModel

@{
    ViewData["Title"] = "Delete this Thread";
}

<partial name="_PageTitle" />

<div class="container mt-4">
    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-3">Thread Type</dt>
                <dd class="col-sm-9">@Model.Item.ThreadType.Name</dd>

                <dt class="col-sm-3">Color Family</dt>
                <dd class="col-sm-9">@Model.Item.ColorFamily.ColorFamily</dd>

                <dt class="col-sm-3">Color</dt>
                <dd class="col-sm-9">@Model.Item.Color.Color</dd>

                <dt class="col-sm-3">Quantity</dt>
                <dd class="col-sm-9">@Model.Item.Quantity</dd>

            </dl>
        </div>
    </div>
    <partial name="Delete/_DeleteConfirmForm" model="Model.Item" />
</div>
