@*This is for the Create page*@
<br/>
<div class="form-group mb-5">
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
