@page
@model FrontEnd.Pages.Data.Machine.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Machine</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Machine.ID" />
			<div class="form-group">
				<label asp-for="Machine.Brand" class="control-label"></label>
				<input asp-for="Machine.Brand" class="form-control" />
				<span asp-validation-for="Machine.Brand" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Machine.Model" class="control-label"></label>
				<input asp-for="Machine.Model" class="form-control" />
				<span asp-validation-for="Machine.Model" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Machine.PurchaseDate" class="control-label"></label>
				<input asp-for="Machine.PurchaseDate" class="form-control" id="PurchaseDate" />
				<span asp-validation-for="Machine.PurchaseDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Machine.PurchasePrice" class="control-label"></label>
				<input asp-for="Machine.PurchasePrice" class="form-control" />
				<span asp-validation-for="Machine.PurchasePrice" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Machine.LastServiced" class="control-label"></label>
				<input asp-for="Machine.LastServiced" class="form-control" id="LastServicedInput" />
				<span asp-validation-for="Machine.LastServiced" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		document.getElementById('PurchaseDate').addEventListener('change', function () {
			var purchaseDate = new Date(this.value);
			var lastServicedInput = document.getElementById('LastServicedInput');
			lastServicedInput.value = purchaseDate.toISOString().substring(0, 10);

			var lastServicedMinDate = document.getElementById('LastServicedInput');
			lastServicedMinDate.min = this.value;
		});
		window.addEventListener('load', function () {
			var purchaseDateInput = document.getElementById('PurchaseDate');
			var lastServicedInput = document.getElementById('LastServicedInput');
			lastServicedInput.min = purchaseDateInput.value;
		});
	</script>

}
