@page
@model FrontEnd.Pages.Data.Misc.MiscType.DetailsModel

@{
    ViewData["Title"] = "Miscellaneous Item Type Details";
}

<partial name="_PageTitle" />
<div class="container mt-4">
    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-3">Item Type</dt>
                <dd class="col-sm-9">@Model.Item.Item</dd>

            </dl>
        </div>
    </div>
    <partial name="Details/_ToEditBackButtons" />
</div>
