@page "{currentpage=1}/{sort?}/{sortDirection?}"
@using ModelLibrary.Models.Shared;
@model FrontEnd.Pages.Data.Misc.MiscType.IndexModel

@{
	ViewData["Title"] = "Miscellaneous Item Types";
	var currentSortProperty = Model.Sort;
	var currentSortDirection = Model.SortDirection;
	var columnHeaders = new List<TableHeaderModel>
	{
		new TableHeaderModel("Item", "Item Type", currentSortProperty, currentSortDirection, false)
	};
}

@if (Model.Items.Count != 0)
{
	<div class="d-flex justify-content-between align-items-center">
		<partial name="_PageTitle" />
		<partial name="Index/_PageSizeDropdown" model="Model" />
	</div>
	<br />
	<div class="d-flex justify-content-between align-items-center">
		<h4>
			<a asp-page="Create">Add New Item Type</a>
		</h4>
		<partial name="Index/_TableCardButtons" model="Model" />
	</div>
	<br />

	<div id="cardView" style="display: none;">
		<link rel="stylesheet" type="text/css" href="~/css/sortBar.css" asp-append-version="true" />
		<div id="sortBar">
			@foreach (var column in columnHeaders)
			{
				<partial name="Index/_SortBar" model="column" />
			}
		</div>
		<link rel="stylesheet" type="text/css" href="~/css/dataCard.css" asp-append-version="true" />
		@foreach (var item in Model.Items)
		{
			var backgroundColor = Model.GetBackgroundColor(item.Item);

			var cardModel = new BaseDataCard
					{
						ID = item.ID,
						MainText = item.Item,
						FirstLetter = item.Item[0],
						BackgroundColor = backgroundColor
					};

			<partial name="Index/_DataCard" model="cardModel" />
			<script src="~/js/cardSize.js" asp-append-version="true"></script>
		}
	</div>

	<div id="tableView" style="display: none;">
		<table class="table table-colors">
			<thead>
				<tr>
					@foreach (var column in columnHeaders)
					{
						<partial name="Index/_SortableHeader" model="column" />
					}
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items)
				{
					<tr class="table-row-clickable" data-href='@Url.Page("./Details", new {id = item.ID})'>
						<td>
							@Html.DisplayFor(modelItem => item.Item)
						</td>
						<td class="text-right">
							<partial name="Index/_IndexActionPartial" model="@item.ID" />
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div>
		<partial name="Index/_Pagination" model="Model" />
	</div>
}
else
{
	<h1>Miscellaneous Item Types</h1>
	<h5>We can categorize our items into easy groups. Let's start <a asp-page="./Create">here</a>.</h5>
}