<div class="view-toggle">
	<button id="cardViewButton" class="btn btn-view"><i class="fa-solid fa-table-cells fa-lg"></i></button>
	<button id="tableViewButton" class="btn btn-view"><i class="fa-solid fa-list fa-lg"></i></button>
</div>
