@page
@model FrontEnd.Pages.Data.Thread.Color.CreateModel

@{
    ViewData["Title"] = "Create a New Thread Color";
}

<partial name="_PageTitle" />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Item.Color" class="control-label required-label"></label>
                <input asp-for="Item.Color" class="form-control"  maxlength="25" autofocus/>
                <span asp-validation-for="Item.Color" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Item.ColorFamilyID" class="control-label required-label">Color Family</label>
                <select asp-for="Item.ColorFamilyID" class ="form-control form-select" >
                    <option value=""></option>
                    @foreach(var threadColorFamily in Model.ThreadColorFamily)
                    {
                        <option value="@threadColorFamily.ID">@threadColorFamily.ColorFamily</option>
                    }
                </select>
                <span asp-validation-for="Item.ColorFamilyID" class="text-danger"></span>
                @if (Model.ThreadColorFamily.Count == 0)
                {
                    <p class="text-danger m-lg-2">You haven't created any Color Families yet. Click <a asp-page="../Family/Create">here</a> to create one.</p>
                }

            </div>
            <partial name="Create/_CreateBackButtons" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
