<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Stitchers Stash</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/195704e12a.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">
					<img src="/images/SSLogo.png" alt="SSLogo" class="header-logo-img" />
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
						</li>
						@if (User.IsInRole("User"))
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-dark" href="#" id="fabricDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Fabric
								</a>
								<div class="dropdown-menu" aria-labelledby="fabricDropdown">
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Fabric/Fabric/Index">Fabric</a>
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Fabric/Brand/Index">Fabric Brand</a>
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Fabric/Type/Index">Fabric Type</a>
								</div>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-dark" href="#" id="elasticDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Elastic
								</a>
								<div class="dropdown-menu" aria-labelledby="elasticDropdown">
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Elastic/Elastic/Index">Elastic</a>
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Elastic/Type/Index">Elastic Type</a>
								</div>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-dark" href="#" id="threadDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Thread
								</a>
								<div class="dropdown-menu" aria-labelledby="threadDropdown">
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Thread/Thread/Index">Thread</a>
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Thread/Type/Index">Thread Type</a>
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Thread/Color/Index">Thread Color</a>
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Thread/Family/Index">Thread Family</a>

								</div>
							</li>

							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-page="/Data/Machine/Index">Machines</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-dark" href="#" id="miscDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Miscellaneous Items
								</a>
								<div class="dropdown-menu" aria-labelledby="miscDropdown">
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Misc/MiscObjects/Index">Misc Items</a>
									<a class="nav-link text-dark" asp-area="" asp-page="/Data/Misc/MiscType/Index">Misc Item Types</a>
								</div>
							</li>

						}
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted site-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<h6>Main</h6>
					<p class="text-justify">
						Lot's of text goes here. This is just a placeholder for something
						more amazing later. Who knows, maybe this will take off nicely.
					</p>
				</div>
				<div class="col-xs-6 col-md-3">
					<h6>Categories</h6>
					<ul class="footer-links">
						<li><a asp-page="/Data/Fabric/Fabric/Index">Fabric</a></li>
						<li><a asp-page="/Data/Elastic/Elastic/Index">Elastic</a></li>
						<li><a asp-page="/Data/Thread/Thread/Index">Thread</a></li>
						<li><a asp-page="/Data/Machine/Index">Machine</a></li>
						<li><a asp-page="/Data/Misc/MiscObjects/Index">Misc</a></li>
					</ul>
				</div>
				<div class="col-xs-6 col-md-3">
					<h6>Quick Links</h6>
					<ul class="footer-links">
						<li><a href="/">Home</a></li>
					</ul>
				</div>
			</div>
			<hr>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<p class="copyright-text">&copy; 2023 - Stitchers Stash - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
				</div>
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>