@model ModelLibrary.Models.Shared.TableHeaderModel

@{
	var currentSortDirection = Model.SortProperty != Model.CurrentSort ? "asc" : (Model.SortDirection == "asc" ? "desc" : "asc");
}

<th class="@(Model.HideOnMobile ? "hide-on-mobile" : "")">
	<a class="sort-link" asp-page-handler="Sort" asp-route-sort="@Model.SortProperty" asp-route-sortDirection="@currentSortDirection">
		@Model.HeaderText</a>
	@if (Model.SortProperty == Model.CurrentSort)
	{
		<span class="sort-icon">
			@if (Model.SortDirection == "asc")
			{
				<span>&uarr;</span>
			}
			else if (Model.SortDirection == "desc")
			{
				<span>&darr;</span>
			}
		</span>
	}
</th>
