@page
@model FrontEnd.Pages.Data.Misc.MiscObjects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MiscObjects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MiscObjects.ID" />
            <div class="form-group">
                <label asp-for="MiscObjects.ItemTypeID" class="control-label"></label>
                <select asp-for="MiscObjects.ItemTypeID" class="form-control" >
                    <option value=""></option>
                    @foreach(var miscItem in Model.MiscItemTypes)
                    {
                        <option value="@miscItem.ID">@miscItem.Item</option>
                    }
                </select>
                <span asp-validation-for="MiscObjects.ItemTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscObjects.Quantity" class="control-label"></label>
                <input asp-for="MiscObjects.Quantity" class="form-control" />
                <span asp-validation-for="MiscObjects.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscObjects.AdditionalNotes" class="control-label"></label>
                <input asp-for="MiscObjects.AdditionalNotes" class="form-control" />
                <span asp-validation-for="MiscObjects.AdditionalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscObjects.Brand" class="control-label"></label>
                <input asp-for="MiscObjects.Brand" class="form-control" />
                <span asp-validation-for="MiscObjects.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscObjects.SpecificInfo" class="control-label"></label>
                <input asp-for="MiscObjects.SpecificInfo" class="form-control" />
                <span asp-validation-for="MiscObjects.SpecificInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscObjects.Value" class="control-label"></label>
                <input asp-for="MiscObjects.Value" class="form-control" />
                <span asp-validation-for="MiscObjects.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscObjects.PurchasePrice" class="control-label"></label>
                <input asp-for="MiscObjects.PurchasePrice" class="form-control" />
                <span asp-validation-for="MiscObjects.PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
