@page
@model FrontEnd.Pages.Data.Thread.Family.DeleteModel

@{
    ViewData["Title"] = "Delete this Thread Color Family";
}

<partial name="_PageTitle" />

@{
    var deleteFailureMessage = TempData["DeleteFailureMessage"] as string;
}

@if (!string.IsNullOrEmpty(deleteFailureMessage))
{
    <div class="alert alert-danger">
        @deleteFailureMessage
    </div>
}

<div class="container mt-4">
    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-3">Color Family</dt>
                <dd class="col-sm-9">@Model.Item.ColorFamily</dd>

            </dl>
        </div>
    </div>
    <partial name="Delete/_DeleteConfirmForm" model="Model.Item" />
</div>
