@page
@model FrontEnd.Pages.Data.Thread.Type.EditModel

@{
	ViewData["Title"] = "Edit a Thread Type";
}

<partial name="_PageTitle" />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Item.ID" />
			<div class="form-group mt-2">
				<label asp-for="Item.Name" class="control-label required-label"></label>
				<input asp-for="Item.Name" class="form-control" />
				<span asp-validation-for="Item.Name" class="text-danger"></span>
			</div>
			<partial name="Edit/_EditBackButtons" model="Model.Item" />
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
